body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

.dashboard-main-content {
  margin-top: 60px;
  margin-left: 250px;
  padding: 2rem;
  background-color: #f4f4f4;
  box-sizing: border-box;

  height: calc(100vh - 60px);
  overflow-y: auto; 
}

.sidebar.collapsed + .dashboard-main-content {
  margin-left: 70px;
}