.inventory-main .module-table-container table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.inventory-main .module-table-container table th,
.inventory-main .module-table-container table td {
  padding: 8px 10px;
  white-space: normal;
  word-break: break-word;
  text-overflow: ellipsis;
}

.inventory-main .module-table-container table th:nth-child(1),
.inventory-main .module-table-container table td:nth-child(1) {
  width: 5%;
}

.inventory-main .module-table-container table th:nth-child(2),
.inventory-main .module-table-container table td:nth-child(2) {
  width: 8%;
}

.inventory-main .module-table-container table th:nth-child(3),
.inventory-main .module-table-container table td:nth-child(3) {
  width: 15%;
}

.inventory-main .module-table-container table th:nth-child(4),
.inventory-main .module-table-container table td:nth-child(4) {
  width: 8%;
}

.inventory-main .module-table-container table th:nth-child(5),
.inventory-main .module-table-container table td:nth-child(5) {
  width: 15%;
}

.inventory-main .module-table-container table th:nth-child(6),
.inventory-main .module-table-container table td:nth-child(6) {
  width: 10%;
}

.inventory-main .module-table-container table th:nth-child(7),
.inventory-main .module-table-container table td:nth-child(7) {
  width: 10%;
}

.inventory-main .module-table-container table th:nth-child(8),
.inventory-main .module-table-container table td:nth-child(8) {
  width: 10%;
}

.inventory-main .module-table-container table th:nth-child(9),
.inventory-main .module-table-container table td:nth-child(9) {
  width: 15%;
}

.inventory-main .module-table-container table th:nth-child(10),
.inventory-main .module-table-container table td:nth-child(10) {
  width: 12%;
}

.inventory-main .module-table-container table th:nth-child(11),
.inventory-main .module-table-container table td:nth-child(11) {
  width: 15%;
}

.inventory-main .module-table-container table th:nth-child(12),
.inventory-main .module-table-container table td:nth-child(12) {
  width: 15%;
}