.refund-main .module-table-container table th:nth-child(1),
.refund-main .module-table-container table td:nth-child(1) {
  width: 8%;
}

.refund-main .module-table-container table th:nth-child(2),
.refund-main .module-table-container table td:nth-child(2) {
  width: 12%;
}

.refund-main .module-table-container table th:nth-child(3),
.refund-main .module-table-container table td:nth-child(3) {
  width: 10%;
}

.refund-main .module-table-container table th:nth-child(4),
.refund-main .module-table-container table td:nth-child(4) {
  width: 8%;
}

.refund-main .module-table-container table th:nth-child(5),
.refund-main .module-table-container table td:nth-child(5) {
  width: 7%;
}

.refund-main .module-table-container table th:nth-child(6),
.refund-main .module-table-container table td:nth-child(6) {
  width: 10%;
}

.refund-main .module-table-container table th:nth-child(7),
.refund-main .module-table-container table td:nth-child(7) {
  width: 5%;
}