.user-management-main-content {
    margin-top: 60px;
    margin-left: 250px;
    padding: 2rem;
    background-color: #f4f4f4;
    min-height: calc(100vh - 60px);
    color: #333;
}

.sidebar.collapsed + .user-management-main-content {
    margin-left: 70px;
}

.user-management-main-content h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.requests-container, .accounts-container {
    background-color: rgba(128, 128, 128, 0.3); 
    color: black;
    margin: 2rem auto;
    max-width: 1000px;
    padding: 1rem;
}

.accounts-container {
  border-radius: 8px;
  margin-top: 20px;
}

.accounts-container table {
  width: 100%;
  border-collapse: collapse;
}

.accounts-container th,
.accounts-container td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

.accounts-container th {
  background-color: #921A40;
  color: white;
}

.accounts-container button {
  margin-right: 5px;
  padding: 5px 10px;
  cursor: pointer;
}