.view-modal .modal-details {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.view-modal .modal-field {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding-bottom: 6px;
}

.view-modal .modal-actions {
  margin-top: 18px;
  display: flex;
  justify-content: center;
  gap: 18px;
  width: 100%;
  padding-top: 6px;
  box-sizing: border-box;
}

.customer-btn {
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
}

.close-btn {
  background-color: #ccc;
  color: #333;
}

.close-btn:hover {
  background-color: #9e9e9e;
  color: #333;
}

.delete-btn {
  background-color: #ff1900;
  color: #fff;
}

.delete-btn:hover {
  background-color: #ac453a;
  color: #fff;
}